---
import Works from '../components/WorksIntro.astro'
import SkillsBox from '../components/SkillsBox.astro'
import ContactBox from '../components/ContactBox.astro'
import MainLayout from '../layouts/MainLayout.astro'
import { Image } from 'astro:assets';
import '../styles/layout.css'

import hitotoxkmc from '../assets/images/LINE_ALBUM_kmcxhitoto_241101_2 4.png'
import max2023 from '../assets/images/max 1.png'
import aboutIcon from '../assets/Vector-2.svg' 
---

<MainLayout title="EnterFlow">
    <div class="title">
        <div class="container">
            <h1>EnterFlow</h1>
        </div>
        <div class="container">
            <h1>EnterFlow<span>とは？</span></h1>
            <h2>"Entertainment x Flow"を掛け合わせた、最先端のエンタメを追求するサイトです。</h2>
            <h2>どうぞゆっくりご覧ください。</h2>
        </div>
    </div>
    <div class="about">
        <h1>About</h1>
        <div class="container">
            <Image src={aboutIcon} alt="aboutIcon" />
            <div class="content">
                <h1>Kizuki Aiki</h1>
                <p>2008年東京出身,神山まるごと高等専門学校一期生.</p>
                <p>このサイトの製作者. テクノロジー,AI,アウトドアを追及中.</p>
            </div>
        </div>
    </div>
    <div class="works">
        <h1>Works</h1>
        <div class="container">
            <Works worksImg={hitotoxkmc} worksTitle="hitoto x kmc" worksDescription="高専祭大型ワークショップ" />
            <Works worksImg={max2023} worksTitle="AdobeMAX 2023" worksDescription="AdobeMAX2023にて初参加の作品" />
        </div>
    </div> 
    <div class="skills">
        <h1>Skills</h1>
        <div class="container">
            <div class="programming">
                <h2>Programming</h2>
                <div class="container">
                    <div class="languages">
                        <h3>Languages</h3>
                        <SkillsBox skillName="Python" />
                        <SkillsBox skillName="JavaScript" />
                        <SkillsBox skillName="HTML/CSS" />
                        <SkillsBox skillName="C++" />
                        <SkillsBox skillName="swift" />
                    </div>
                    <div class="frameworks">
                        <h3>Frameworks</h3>
                        <SkillsBox skillName="Flask" />
                        <SkillsBox skillName="Node.js" />
                        <SkillsBox skillName="Three.js" />
                        <SkillsBox skillName="astro" />
                        <SkillsBox skillName="swiftUI" />
                    </div>
                </div>
                <div class="container">
                    <div class="tools">
                        <h2>Tools</h2>
                        <SkillsBox skillName="Github" />
                        <SkillsBox skillName="Arc" />
                        <SkillsBox skillName="raycast" />
                        <SkillsBox skillName="Stable Diffusion" />
                    </div>
                    <div class="design">
                        <h2>Design</h2>
                        <SkillsBox skillName="Figma" />
                        <SkillsBox skillName="illustrator" />
                        <SkillsBox skillName="Photoshop" />
                        <SkillsBox skillName="Filmora" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <h2>Contact</h2>
        <div class="container">
            <ContactBox contactName="X" contactLink="https://x.com/kz25_kmc" />
            <ContactBox contactName="Instagram" contactLink="https://www.instagram.com/kizu25_01/" />
            <ContactBox contactName="Github" contactLink="https://github.com/tarabakz25" />
        </div>
        <p>aikikizuki@gmail.com</p>
    </div>
</MainLayout>
