---
const color1 = "#EC3A7D";
const color2 = "#1E1434";
---

<div id="cursor" class="cursor"></div>

<script>
    const cursor = document.getElementById('cursor');
    const activeClass = "is-active";
    let rotation = 0;

    document.addEventListener('mousemove', function (e) {
        const x = e.clientX;
        const y = e.clientY;
        if (cursor) {
            cursor.style.opacity = "0.75";
            cursor.style.top = y + "px";
            cursor.style.left = x + "px";
        }
    });

    function rotateCursor() {
        rotation += 2;
        if (cursor) {
            cursor.style.transform = `rotate(${rotation}deg)`;
        }
        requestAnimationFrame(rotateCursor);
    }
    rotateCursor();

    const links = document.querySelectorAll('a');
    links.forEach(link => {
        link.addEventListener('mouseover', () => {
            cursor?.classList.add('is-active');
        });
        link.addEventListener('mouseout', () => {
            cursor?.classList.remove('is-active');   
        });
    });
</script>

<style>
    #cursor {
        position: fixed;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 13.856px solid var(--color1);
        margin: -7px 0 0 -8px;
        mix-blend-mode: difference;
        z-index: 10000;
        pointer-events: none;
        opacity: 0;
    }

    body:has(#cursor) {
        cursor: none;

        a {
            cursor: none;
        }
    }
</style>
