---
---
<header>
    <h1>Kanikan</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<style>
    header {
        margin: 0%;
        padding: 0%;
        background-color: aliceblue;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }
    li {
        margin-right: 20px;
    }
    a {
        text-decoration: none;
        color: #333;
    }
    a:hover {
        color: #666;
    }
</style>