---
---
<header>
    <h1>kanikan</h1>
    <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
    </ul>
</header>

<style>
    header {
        margin: 0;
        padding: 10px 20px;
        display: flex;
        background-color: white;
    }
    ul {
        margin-left: auto;
        text-align: center;
        list-style: none;
        display: flex;
        gap: 20px;
    }
    a {
        text-decoration: none;
        color: black;
    }
</style>