---
import { Image } from 'astro:assets';
import logo from "../assets/images/Logo.png"
---
<header>
    <Image src={logo} alt="Logo" />
    <ul class="menu">
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/works">Works</a></li>
    </ul>
</header>

<style>
    header {
        position: fixed; /* ヘッダーを固定位置に設定 */
        top: 0;          /* ページの上部に配置 */
        left: 0;         /* 左端に配置 */
        width: 100%;     /* 幅を全幅に設定 */
        box-sizing: border-box; /* パディングを含めた幅設定 */
        padding: 10px 50px;
        display: flex;
        justify-content: space-between;
        background-color: #231935;
        align-items: center;
        z-index: 1000;   /* 他の要素より前面に表示 */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* ヘッダーに影を追加 */
        height: 80px;    /* ヘッダーの高さを固定 */
        opacity: 0.9;    /* ヘッダーの透明度を調整 */
    }

    header img {
        width: 40px;
        height: auto;
    }

    ul.menu {
        list-style: none;
        display: flex;
        gap: 80px; /* ギャップを調整 */
        padding: 0;
        margin: 0;
    }

    li {
        /* float: right; 削除 */
    }

    li a {
        font-family: "krok", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        text-decoration: none;
        font-size: 25px;
    }

    li a::first-letter {
        transition: color 0.5s ease;
        animation: dissolve 0.5s forwards;
    }

    li a:hover::first-letter {
        color: #EB3A7D;
        animation: dissolve-hover 0.5s forwards;
    }

    @keyframes dissolve {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes dissolve-hover {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.5;
        }
    }

    /* レスポンシブデザインの調整 */
    @media (max-width: 768px) {
        header {
            padding: 10px 20px;
            height: 50px;
        }
        ul.menu {
            gap: 20px; /* ギャップをさらに減少 */
        }
        li a {
            font-size: 18px;
        }
    }
</style>