---
---
<header>
    <img src="src/assets/Logo.png">
    <ul class="menu">
        <li><a href="">About</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Works</a></li>
    </ul>
</header>

<style>
    header {
        width: auto;
        padding: 10px 50px;
        display: flex;
        justify-content: space-between;
        background-color: #231935;
        align-items: center;
        margin: 0 auto;
    }
    header img {
        width: 40px;
        height: auto;
    }
    ul {
        list-style: none;
        display: flex;
        gap: 100px;
        padding: 0;
    }
    li {
        float: right;
    }
    li a {
        font-family: "krok", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        text-decoration: none;
        font-size: 25px;
    }
    li a::first-letter {
        transition: color 0.5s ease;
        animation: dissolve 0.5s forwards;
    }
    li a:hover::first-letter {
        color: #EB3A7D;
        animation: dissolve-hover 0.5s forwards;
    }

    @keyframes dissolve {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes dissolve-hover {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.5;
        }
    }
</style>