---
const typekitId = 'your-actual-typekit-id';
const { title } = Astro.props;

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import Scripts from '../components/scripts/Scripts.astro';

const title_font = "krok, sans-serif";
const description_font = "Zen Old Mincho";
const program_font = "Anonymous pro";

const color1 = "#EC3A7D"
const color2 = "#1E1434"
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Zen+Old+Mincho&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <title>{title}</title>
		<!-- ここのエラーは問題ないから無視してください -->
        <script>
            (function (d) {
                var config = {
                        kitId: 'aan1vqp',
                        scriptTimeout: 3000,
                        async: true,
                    },
                    h = d.documentElement,
                    t = setTimeout(function () {
                        h.className = h.className.replace(/\bwf-loading\b/g, '') + ' wf-inactive';
                    }, config.scriptTimeout),
                    tk = d.createElement('script'),
                    f = false,
                    s = d.getElementsByTagName('script')[0],
                    a;
                h.className += ' wf-loading';
                tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
                tk.async = true;
                tk.addEventListener('load', function() {
                    f = true;
                    clearTimeout(t);
                    try {
                        Typekit.load(config);
                    } catch (e) {}
                    tk.parentNode?.removeChild(tk);
                });

                tk.addEventListener('error', function() {
                    h.className = h.className.replace(/\bwf-loading\b/g, '') + ' wf-inactive';
                    clearTimeout(t);
                });

                document.head.appendChild(tk);
            })(document);
        </script>
        <Scripts />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000;
            overflow-x: hidden;
        }
    </style>
</html>
