---
const { title } = Astro.props;
import Scripts from '../components/scripts/Scripts.astro'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="ja" data-theme="dark">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E447BSCFR8"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            window.dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-E447BSCFR8');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content={Astro.generator}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{title}</title>
    <script is:inline>
        (function (d) {
            var config = {
                    kitId: 'aan1vqp',
                    scriptTimeout: 3000,
                    async: true,
                },
                h = d.documentElement,
                t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, '') + ' wf-inactive';
                }, config.scriptTimeout),
                tk = d.createElement('script'),
                f = false,
                s = d.getElementsByTagName('script')[0],
                a;
            h.className += ' wf-loading';
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.addEventListener('load', function() {
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config);
                } catch (e) {}
                tk.parentNode?.removeChild(tk);
            });

            tk.addEventListener('error', function() {
                h.className = h.className.replace(/\bwf-loading\b/g, '') + ' wf-inactive';
                clearTimeout(t);
            });

            document.head.appendChild(tk);
        })(document);
    </script>
    <Scripts />
    <script src="../scripts/theme.js" is:inline></script>
  </head>
  <body>
    <Header />
    <div class="background"></div>
    <slot />
    <Footer />
  </body>
</html>
