---
const { title } = Astro.props;
import Scripts from '../components/scripts/Scripts.astro'

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    <title>{title}</title>
    <Scripts />
  </head>
  <body>
    <Header />
    <div class="background"></div>
    <slot />
    <Footer />
  </body>
</html>
