---
const { title } = Astro.props;
import '../styles/global.css';
import Cursor from '../components/Cursor.astro'
import Scripts from '../components/Scripts.astro'
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    <title>{title}</title>
    <Scripts />
  </head>
  <body>
    <Cursor />
    <div class="background"></div>
    <slot />
  </body>
</html>
